<div class="container mt-3">
  <button type="button" (click)="openModal()" class="float-right btn btn-primary mb-5"  >Nuevo</button>
  <div class="table-responsive">
    <table class="table table-bordered table-striped ">
      <thead>
      <tr>
        <th>#</th>
        <th>Talleres</th>
        <th>Tema</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Lugar</th>
        <th>Hrs Academicas</th>
        <th>Programa</th>
        <th>Descripción</th>
        <th colspan="2" class="text-center">Opciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let taller of talleres; index as i" >
        <td>{{talleres.tallId}}</td>
        <td>{{talleres.tallTopic}}</td>
        <td>{{talleres.tallDate}}</td>
        <td>{{talleres.tallHour}}</td>
        <td>{{talleres.tallPlace}}</td>
        <td>{{talleres.tallHourAcade}}</td>
        <td>{{talleres.programa}}</td>
        <td>{{talleres.tallDesc}}</td>
        <td>
          <button type="button" class="btn btn-sm btn-warning" (click)="openModalEdit(talleres)">Editar
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(talleres)">Eliminar
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
