<div class="modal-header">
  <h4 class="modal-title">{{title}} Taller</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.dismiss()">
    <span aria-hidden="true">x</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="frmTaller">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Tema</label>
      <div class="col-sm-9">
        <input type="text" formControlName="taTema" class="form-control" placeholder="Ingrese tema">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Descripción</label>
      <div class="col-sm-9">
        <input type="text" formControlName="taDesc" class="form-control" placeholder="Ingrese Descripción">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Fecha</label>
      <div class="col-sm-9">
        <input type="date" formControlName="taFecha" class="form-control" placeholder="Ingrese fecha">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Hora</label>
      <div class="col-sm-9">
        <input type="text" formControlName="taHora" class="form-control" placeholder="Ingrese hora">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Lugar</label>
      <div class="col-sm-9">
        <input type="text" formControlName="taLugar" class="form-control" placeholder="Ingrese lugar">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Horas Acad.</label>
      <div class="col-sm-9">
        <input type="text" formControlName="taHoraAcademicas" class="form-control" placeholder="Ingrese horas">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Programa</label>
      <div class="col-sm-9">
        <select class="form-control" formControlName="proId">
          <option *ngFor="let programa of programas" [value]="programa.proId">{{programa.proNombre}}</option>
        </select>
      </div>
    </div>
  </form>
</div><--!asas-->
<div class="modal-footer">
  <button type="button" [disabled]="frmTaller.invalid" *ngIf="title=='Nuevo'" class="btn btn-primary" (click)="save()">Guardar</button>
  <button type="button" [disabled]="frmTaller.invalid" *ngIf="title=='Modificar'" class="btn btn-primary" (click)="update()">Modificar</button>
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Cancel')">Cancelar</button>
</div>
