<div class="modal-header">
  <h4 class="modal-title">{{title}} Tipo Persona</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.dismiss()">
    <span aria-hidden="true">x</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="frmTipoPersona">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Nombre</label>
      <div class="col-sm-9">
        <input type="text" formControlName="tpNombre" class="form-control" placeholder="Ingrese nombre">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Descripción</label>
      <div class="col-sm-9">
        <input type="text" formControlName="tpDesc" class="form-control" placeholder="Ingrese Descripción">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" [disabled]="frmTipoPersona.invalid" *ngIf="title=='Nuevo'" class="btn btn-primary" (click)="save()">Guardar</button>
  <button type="button" [disabled]="frmTipoPersona.invalid" *ngIf="title=='Modificar'" class="btn btn-primary" (click)="update()">Modificar</button>
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Cancel')">Cancelar</button>
</div>
