<div class="modal-header">
  <h4 class="modal-title">{{title}} Material</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.dismiss()">
    <span aria-hidden="true">x</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="frmMaterial">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Nombre</label>
      <div class="col-sm-9">
        <input type="text" formControlName="maName" class="form-control" placeholder="Ingrese nombre">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Tipo Materiales</label>
      <div class="col-sm-9">
        <select class="form-control" formControlName="tipoMateriales">
          <option *ngFor="let tipomaterial of tipomateriales" [value]="tipomaterial.tmId">{{tipomaterial.tmName}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Taller</label>
      <div class="col-sm-9">
        <select class="form-control" formControlName="taller">
          <option *ngFor="let talleres of taller" [value]="talleres.taId">{{talleres.taTema}}</option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" [disabled]="frmMaterial.invalid" *ngIf="title=='Nuevo'" class="btn btn-primary" (click)="save()">Guardar</button>
  <button type="button" [disabled]="frmMaterial.invalid" *ngIf="title=='Modificar'" class="btn btn-primary" (click)="update()">Modificar</button>
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Cancel')">Cancelar</button>
</div>
